
<div class="w-screen">

  <div class="grid grid-cols-12 gap-3 md:h-screen sm:h-auto h-auto">
    <!-- image -->
    <div class="md:col-span-4 sm:col-span-12 col-span-12 flex justify-center items-center bg-gray-100 md:mb-0 sm:mb-10 mb-10">
      <div class="md:w-2/3 sm:w-2/5 w-2/5 md:h-auto sm:h-28 h-28">
        <figure>
          <img src="assets/img/sesion-01.png" class="md:block sm:hidden hidden" alt="Imagen de inciar sesión">
          <img src="assets/img/sesion-02.png" class="md:hidden sm:block relative block md:my-0 sm:my-10 my-10 " alt="Imagen de inciar sesión">
        </figure>
      </div>
    </div>

    <!-- form -->
    <div class="md:col-span-8 sm:col-span-12 col-span-12 flex justify-center items-center bg-white">
      <app-form-sesion class="md:w-1/3 sm:w-full w-full px-5"></app-form-sesion>
    </div>

  </div>


</div>
