<div class="w-full h-screen shadow-2xl">
  <!-- info -->
  <div class="grid grid-cols-12">
    <div class="col-start-4 col-end-9">
      <div class="flex justify-center items-center my-12">
        <div>
          <figure>
            <img [src]="user?.usuario?.imagen" class="rounded-full w-32 h-32" [alt]="user.usuario.nombre">
          </figure>

          <div class="text-center mt-3">
            <h3 class="text-base text-gray-900 font-black capitalize">{{ user.usuario.nombre}} {{ user.apellidoPat}}</h3>
            <h4 class="text-base text-gray-800 font-normal">{{ user.telefono }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chat -->
  <div class="grid grid-cols-12 bg-green-50 py-5">
    <div class="col-start-4 col-end-9 flex items-center">
      <!-- imagen -->
      <figure>
        <img src="assets/img/chat.png" class="w-5 mr-3" alt="imagen chat">
      </figure>

      <strong class="text-gray-700">Chat</strong>
    </div>
  </div>

</div>
