<div class="md:mt-0 sm:mt-8 mt-8">

  <h2 class="md:text-3xl sm:text-2xl text-2xl text-gray-900 font-semibold text-center">Iniciar sesión</h2>

  <form [formGroup]="singInForm" (ngSubmit)="onSubmit()">
    <div class="md:my-16 sm:my-12 my-12">

      <div class="grid grid-cols-1 mb-5">
        <label for="email" class="text-base font-semibold md:text-gray-500 sm:text-gray-400 text-gray-400 flex">
          Correo <span class="md:hidden sm:block block ml-2">electrónico</span>
        </label>
        <input type="text" id="email"
        class="bg-blue-50 px-5 rounded-full md:py-1 sm:py-2 py-2 text-sm text-gray-700 border-gray-100 shadow-sm placeholder-gray-400 md:font-medium sm:font-semibold font-semibold border focus:outline-none focus:border-gray-100"
        placeholder="Ingresa tu correo"
        formControlName="email">
      </div>

      <div class="grid grid-cols-1 md:pb-0 sm:pb-10 pb-10">
        <label for="password" class="text-base font-semibold md:text-gray-500 sm:text-gray-400 text-gray-400">Contraseña</label>
        <input type="password" id="password"
        class="bg-blue-50 px-5 rounded-full md:py-1 sm:py-2 py-2 text-sm text-gray-700 border-gray-100 shadow-sm placeholder-gray-400 md:font-medium sm:font-semibold font-semibold border focus:outline-none focus:border-gray-100"
        placeholder="Ingresa tu contraseña"
        formControlName="password">
      </div>

    </div>

    <div class="flex justify-center">
      <button
      type="submit"
      class="w-3/4 bg-green-400 text-base text-white font-semibold px-7 py-2 rounded-full shadow-sm hover:bg-green-500 hover:text-gray-50"
      [disabled]="!singInForm.valid">
        Iniciar sesión
      </button>
    </div>

  </form>
</div>
